.adminform{
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  width: 70%;
  height: 100%;
  overflow: auto;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.bildfil{
  color: rgb(0, 153, 255);
  font-size: 19px;
  font-weight: bold;
  margin-top: 2%;
}

.updatebutton{
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  width: 11.3vw;
  height: 59px;
  color: #fff;
  background: rgb(0, 153, 255);
  border-radius: 10px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border-color: transparent;
}

.g{
  color: #fff;
}