/* body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height: 227vh;
  background: linear-gradient(left to right, (138, 138, 138), #383838);
} */

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 7%;
  width: 31.3%;
  background: #fff;
  padding-bottom: 2%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: rgb(255, 166, 0);
  font-size: 48px;
  font-weight: 700;
}

.underline{
  width: 10.4%;
  height: 6px;
  background: rgb(255, 166, 0);
  border-radius: 9px;
}

.inputs {
  margin-top: 9.8%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
  text-align: center;
}

.input img {
  margin: 0% 6.4%;
}

.input input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  margin-left: 10.7%;
  margin-top: 4.6%;
  color: #797979;
  font-size: 18px;
}

.forgot-password span {
  color: rgb(255, 166, 0);
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 10% auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 11.3vw;
  height: 59px;
  color: #fff;
  background: rgb(255, 166, 0);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}